{% extends "base.html" %}

{% block search_config %}const CURRENT_ARCH = "{{ arch }}";{% endblock %}

{% block content %}
<div class="container" style="padding-top: 40px;">
    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th style="width: 10%;">Mnemonic</th>
                    <th style="width: 35%;">Syntax</th>  <th style="width: 10%;">Format</th>
                    <th style="width: 45%;">Summary</th>
                </tr>
            </thead>
            <tbody>
		{% for inst in instructions %}
		<tr onclick="window.location='{{ inst.slug }}/';" style="cursor: pointer;">
		    <td class="mono" style="font-weight: bold; color: var(--accent);">{{ inst.mnemonic }}</td>
 		    <td class="mono" style="font-size: 0.9rem; color: var(--text-main);">{{ inst.syntax }}</td>
		    <td><span class="badge">{{ inst.encoding.format }}</span></td>
		    <td style="color: var(--text-muted);">{{ inst.summary }}</td>
		</tr>
		{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
